.header {
    height: 7em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5em;
  
    .logo-container {
      height: 100%;
      width: 7em;
      padding: 2.5em;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        font-size: x-large;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
  